.skip-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    
}


.skip-links a {
    position: absolute;
    top: -3em;
    background-color: white;
    color: black;
    padding: .5em 1em;
    font-weight: bold;
    border: 3px solid rgb(255, 132, 208);
}

.skip-links li {
    display: inline;
}

.skip-links a {
    position: absolute;
    top: -50px;
    background-color: white;
    color:black;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: top 0.3s;
}

.skip-links a:focus {
    top: 10px;
}


.skip-links a:focus {
    top: 0;
}

.highlighted {
    position: relative;
}

.highlighted::after {
        position: absolute;
        content: "";
        width: 95%;
        height: 15px;
        right: 0;
        bottom: 10px;
        top: 10px;
        z-index: -1;
        background: blue;
    }

body {
    max-width: 1000px;
    margin: 0 auto;
    background: black;
}


/*--------------------------- * NAV * ------------------------------------*/
nav a {
    text-decoration: none;
    display: block;
    float: left;
    text-align: center;
    padding: 8px 15px;
    margin-top: 30px;
}

nav a:hover {
    background-color: rgb(63, 155, 192);
    border-radius: 20px;
    border: 3px solid rgb(255, 132, 208);
    transition: transform 0.4s, background-color 0.4s;
}

nav ul li:nth-child(3) a {
    background-color: royalblue;
    border-radius: 20px;
}

nav ul li:nth-child(3) a:hover {
    background-color: rgb(63, 155, 192);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin: 10px 0px;
}



nav ul li {
    float: left;
    list-style-type: none;
    margin-right: 10px;
}

nav > h1, span {
    font-family: Playfair Display, serif;

}

/*--------------------------- * WRAPPER * ------------------------------------*/
.wrapper {
    position: relative;
}

.top-text {
    position: absolute;
    bottom: 3em;
    left: 3em;
    z-index: 2;
}


.image-container {
    overflow: hidden;
    margin-bottom: 1em;
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.24);
    border-radius: 20px;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
    animation-name: zoom;
    animation-duration: 8s;
    animation-iteration-count: infinite; 
    animation-direction: alternate;
}

@keyframes zoom {
    0% {
      transform: scale(1, 1);
    }

    100% {
      transform: scale(1.2, 1.2);
    }
  }

.planet a {
    display: inline-block;
    background-color: blueviolet;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 20px;
    transition: transform 0.4s, background-color 0.4s;
}

.planet a:hover {
    background-color: rgb(63, 155, 192);
    border: 3px solid rgb(255, 132, 208);
}

.planet a:visited {
    background-color: royalblue;
}

.planet {
    text-align: center;
}

.planets {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(6, 1fr);
}

.planets img {
    width: 100%;
    height: auto;
}

hr {
    border: none;
    background-color:rgb(51, 51, 51);
    height: 1px;
}

footer {
    text-align: center;
}




/***********************************MEDIA QUERIES********************************/

@media only screen and (max-width: 900px) {

    
    .planets {
        display: grid;
        gap: 1em;
        grid-template-columns: repeat(3, 1fr);
    }

    nav {
       flex-direction: column;
    }
     
    section > h2 {
        text-align: center;
    }

    .image-container {
        border-radius: 0;
    }
}

@media only screen and (max-width: 500px) {

    
    .planets {
        display: grid;
        gap: 1em;
        grid-template-columns: repeat(1, 1fr);
        padding-left: 6em;
        padding-right: 6em;
    }

    nav {
        flex-direction: column;
     }

     .top-text {
        text-align: center;
        font-size: 1em;
        padding: 0px 50px;
     }
     .image-container img {
        width: 150%;
        margin-left: -25%;
    }
}
