
/*one custom property*/
:root {
    --font-secondary: 'Playfair Display', serif;
}

/*Site has two skip links, one to main and one to nav. They are hidden unless focused.*/
/*and one skip-link Back to top, that is always visible*/
.skip-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.skip-links a {
    position: absolute;
    top: -3em;
    padding: .5em 1em;
    font-weight: normal;
    border: 3px solid rgb(255, 132, 208);
    color:black;
}

.skip-links li {
    display: inline;
}

.skip-links a {
    position: absolute;
    top: -50px;
    background-color: white;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: top 0.3s;
}

a:focus {
    top: -15px;
    border: 3px solid rgb(255, 132, 208)
}

/*Highlighted stripe behind the System*/
.highlighted {
    position: relative;
}

/*::after pseudo element is used to create the stripe behind the h1*/
.highlighted::after {
        position: absolute;
        content: "";
        width: 95%;
        height: 10px;
        right: 0;
        top: 12px;
        z-index: -1;
        background: royalblue;
    }

/*--------------------------- * NAV * ------------------------------------*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    margin: 10px 0;
}

nav a {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 8px 5px;
    margin: 25px 5px 10px 5px;  
    border-radius: 20px;
    transition: transform 0.4s, background-color 0.4s, font-weight 0.4s, color 0.4s;
    width: 110px;
}

nav a:hover {
    background-color: rgb(63, 155, 192);
    font-weight: bold;
    color: black;
    transform: scale(1.1);
    transform-origin: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

nav ul li {
    margin-right: 10px;
}

nav ul li:nth-child(3) a {
    background-color: royalblue;
    border-radius: 20px;
    margin-right: 0;
}

nav ul li:nth-child(3) a:hover {
    background-color: rgb(63, 155, 192);
}

/*one custom property applied*/
nav > h1 {
    font-family: var(--font-secondary);
}

.highlighted {
    font-family: var(--font-secondary);
}

/*--------------------------- * WRAPPER * ------------------------------------*/
body {
    max-width: 1000px;
    margin: 0 auto;
    background: black;
}

main {
    position: relative;
}

.top-text {
    position: absolute;
    bottom: 3em;
    left: 3em;
    z-index: 2;
}

.top-text > h2 {
    margin: 10px 0;
    font-size: 2em;
}

.gradient {
    background: linear-gradient(90deg, rgb(114, 212, 224), royalblue, rgb(114, 212, 224));
    background-size: 300% 100%;
    background-position: 0% 0%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0%, 0%;
    }
    50% {
        background-position: 100%, 0%;
    }
    100% {
        background-position: 0%, 0%;
    }
}

section > h2 {
    margin: 50px 0 20px 0;
}

.image-container {
    overflow: hidden;
    margin-bottom: 1em;
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.24);
    border-radius: 20px;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
    animation-name: zoom;
    animation-duration: 10s;
    animation-iteration-count: infinite; 
    animation-direction: alternate;
}

@keyframes zoom {
    0% {
      transform: scale(1, 1);
    }

    100% {
      transform: scale(1.1, 1.1);
    }
  }

.planet a {
    display: inline-block;
    background-color: blueviolet;
    text-decoration: none;
    padding: 8px 15px;
    margin: 20px 10px;
    border-radius: 20px;
    transition: transform 0.4s, background-color 0.4s, font-weight 0.4s, color 0.4s;
}

.planet a:hover {
    background-color: rgb(63, 155, 192);
    transform: scale(1.1);
    font-weight: bold;
    color: black;
    transform: scale(1.1,1.1)
}

.planet a:visited {
    background-color: royalblue;
}

.planet {
    text-align: center;
}

.planets {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(6, 1fr);
}

.planets img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

hr {
    border: none;
    background-color:rgb(51, 51, 51);
    height: 1px;
}

footer {
    text-align: center;
    margin: 20px;
}




/***********************************MEDIA QUERIES********************************/

@media only screen and (max-width: 900px) {
    body {
        padding: 0;
    }

    .planets {
        display: grid;
        gap: 1em;
        grid-template-columns: repeat(3, 1fr);
    }

    nav {
       flex-direction: column;
    }
     
    section > h2 {
        text-align: center;
    }

    .image-container {
        border-radius: 0;
    }
}

@media only screen and (max-width: 500px) {

    
    .planets {
        display: grid;
        gap: 1em;
        grid-template-columns: repeat(1, 1fr);
        padding-left: 6em;
        padding-right: 6em;
    }

    nav {
        flex-direction: column;
     }

     .top-text {
        text-align: center;
        font-size: 1em;
        padding: 0 50px;
     }
     .image-container img {
        width: 150%;
        margin-left: -25%;
    }
}
